<div class="main-text">
   <h2>Welcome {{user.username}}</h2>
    <a href="/profile/editProfile" class="my-btn submitbtn">Edit your profile</a>
    <a href="/places/new" class="my-btn login">Add a new place</a>

  <div class="user-info">
    <img src="{{user.image}}" alt="{{user.username}}">
  </div>

  <br>

  <button id="show-places" class="my-btn submitbtn">See my places</button>

  <button id="show-comments" class="my-btn login">See my comments</button>

  <div class="my-posts">
    <div class="my-places row invisible">
        {{#each places}}
          <div class="my-place card col-12 col-md-6 col-lg-4">
            <div class="card-image">
              <img src="{{image}}" alt="Image">
            </div>
            <br>
            <h4>{{name}}</h4>
            <hr>
            <h6>{{category}}</h6>
            <h6>{{description}}</h6>
            <div class="iconos">
              <a href="/places/edit/{{_id}}"><i class="fas fa-edit fa-2x"></i></a>  
              <form class="deleteform" action="/places/delete/{{_id}}" method="GET">
              <button class="trash-btn"><i class="fas fa-trash-alt fa-2x"></i></button>
              </form>
            </div>
          </div>
        {{/each}}
    </div>
    <div class="my-comments row invisible">
        {{#each comments}}
          <div class="comment my-comments my-place card col-12 col-md-6 col-lg-4">
            {{#if image}}
            <div class="card-image">
            <img class="comment-img" src="{{image}}" alt="Comment image">
            </div>
            {{/if}}
            <br>
            <h4>{{place.name}}</h4>
            <hr>
            <h6>{{content}}</h6>
            <h6>Facemask policy score: {{scoreMasks}}</h6>
            <h6>Gel and Soap score: {{scoreGel}}</h6>
            <h6>Cleanliness score: {{scoreClean}}</h6>
            <h6>Service score: {{scoreService}}</h6>
            <br>
             <div class="iconos">
              <a href="/comment/editComment/{{_id}}"><i class="fas fa-edit fa-2x"></i></a>  
              <form class="deleteform" action="/comment/{{_id}}" method="POST">
              <button class="trash-btn"><i class="fas fa-trash-alt fa-2x"></i></button>
              </form>
             </div>
            <br>
          </div>
        {{/each}}
    </div>
  </div>
</div>

<script src="/javascripts/profileView.js"></script>