<div class="main-text">
  <div class="user-info">
    <h2>Welcome {{user.username}}</h2>
    <img src="{{user.image}}" alt="{{user.username}}">
  </div>

  <br>
  <a href="/profile/editProfile" class="my-btn submitbtn">Edit your profile</a>
  <a href="/places/new" class="my-btn login">Add a new place</a>

  <div class="my-posts">
    <div class="my-post">

    </div>
    <div class="my-comments">
      <div class="comment">
        {{#each comments}}
        <h2>{{author.username}}</h2>
        <p>{{content}}</p>
        {{#if image}}
        <img src="{{image}}" alt="Comment image">
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>