<div class="main-text">
  <h2>Edit "{{place.name}}"</h2>
  <p class="error-message">{{error}}</p>
  <form action="/places/edit/{{place._id}}" method="POST" enctype="multipart/form-data">
    <label for="place-name" class="required-label">Name of the place (required):</label>
    <input type="text" name="name" required id="place-name" value="{{place.name}}" maxlength="100">


    <label for="place-category" class="required-label">Category (required):</label>
    <select name="category" id="place-category" required onchange="checkOther()">
      <option value="{{place.category}}" selected hidden>{{place.category}}</option>
      <option value="Bar">Bar</option>
      <option value="Bookstore">Bookstore</option>
      <option value="Cinema">Cinema</option>
      <option value="Gym">Gym</option>
      <option value="Hotel">Hotel</option>
      <option value="Nightclub">Nightclub</option>
      <option value="Restaurant">Restaurant</option>
      <option value="Store">Store</option>
      <option value="Theatre">Theater</option>
      <option value="Other">Other</option>
    </select>

    <div class="other-category-fields" style="display: none;">
      <label for="other-category">If other category, please specify:</label>
      <input type="text" id="other-category" name="otherCategory" value="{{place.otherCategory}}" maxlength="20">
    </div>

    <label for="place-description">Description:</label>
    <input type="text" name="description" id="place-description" value="{{place.description}}" maxlength="500">

    <label for="location" class="required-label">Location (required):</label>
    <div id="map" style="width:80%; height: 400px; margin:0 auto;"></div>
    <input type="text" id="lat" name="lat" hidden required value="{{place.location.coordinates.[1]}}">
    <input type="text" id="lng" name="lng" hidden required value="{{place.location.coordinates.[0]}}">
    <p class="error-message error-location" style="display: none; margin-top: 15px;">*You must provide
      the place with a location</p>

    <label for="input-image-place">Upload new image for this place:</label>
    <div class="custom-file">
      <label class="profile-image custom-file-label" for="input-image-place">
        Add a picture from the place (JPG or PNG)
      </label>
      <input type="file" name="image" class="custom-file-input" id="input-image-place" onchange="displayFileName()">
    </div>
    <p class="error-message">{{errorImage}}</p>

    <button class="my-btn submitbtn" type="submit">Update place</button>
    <button class="my-btn login"><a href="/places/{{place._id}}" style="display:block;">Cancel</a></button>
  </form>
</div>

<script>
  window.onload = () => {
    let marker = new mapboxgl.Marker()
      .setLngLat([{{ place.location.coordinates }}])
      .addTo(map);
  map.flyTo({
    center: [{{ place.location.coordinates }}]
    })

  const $lat = document.querySelector('#lat')
  const $lng = document.querySelector('#lng')
  const $errorMessage = document.querySelector('.error-location')
  if (!$lat.value || !$lng.value)
    $errorMessage.style.display = 'block';

  const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  })
  geocoder.on('result', event => {
    const [lng, lat] = event.result.center
    $lat.value = lat
    $lng.value = lng
    $errorMessage.style.display = 'none';
  })
  map.addControl(geocoder)

  const $geocoderInput = document.querySelector('.mapboxgl-ctrl-geocoder--input')
  $geocoderInput.placeholder = "Type new place or address"

  checkOther()
}
</script>