<div class="main-text">
  <div class="row">
    {{#each places}}
    <div class="card col-12 col-sm-6 col-lg-4">
      <img src="{{image}}" alt="{{name}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        {{#unless otherCategory}}
        <h6 class="card-title">{{category}}</h6>
        {{else}}
        <h6 class="card-title">{{otherCategory}}</h6>
        {{/unless}}
        <p class="card-text">{{description}}</p>
        <a href="/places/{{_id}}" class="my-btn">See details</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>